.storyimg {
    width: 38%;
    height: 38%;
    float: left;
    margin: 0 10px 10px 0;
}

.shopimg {
    width: 43%;
    height: 43%;
    float: left;
    margin: 0 10px 10px 0;
}

.npcimg {
    width: 38%;
    height: 38%;
    float: left;
    margin: 0 10px 10px 0;
}

.shop {
    display: inline-block;
}

.choice {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.menuchoice .link {
    display: inline-block;
    width: 40%;
}

.cloum {
    float: left;
    margin: 0 20px 0 0;
}

.playerstats .monsterstats .stats {
    margin:0;
    padding:0 0 0 15px;
}

.stats {
    list-style-type: none;
}

.npcbutton {
    margin-top: 10px;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}

.invNav{
    list-style-type: none;
}

.inventory {
    display: inline-block;
    width: 40%;
    color: #ff0000;
}

.monsterimage {
    width: 34%;
    height: 34%;
    float: left;
    margin: 0 10px 10px 0;
}

.stats {
    list-style-type: none;
    display: inline-block;
}